# Exclude node_modules except for production dependencies
node_modules/**
!node_modules/@types
!node_modules/@vscode

# Exclude build directories except for the entry point
out/**
!out/extension.js

# Exclude test directories
test/**

# Exclude other files
.vscode/**
.git/**
*.ts
*.map